.boton-buscar{  
    padding: 12px 20px;
    height: 42.3px;
    border: none;
    background-color: #fcb900;
    color: white;
    font-weight: bold;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}