.bienvenida-container {
  background-color: white;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  height: 100vh;
  color: #222222;
}

.bienvenida-container h1 {
  color: #222222; 
  font-weight: bold;
  text-shadow: none;
}

.bienvenida-container p {
  color: #555555; 
  font-weight: 600;
  font-size: 20px;
  text-shadow: none;
}


